			<article>
				<h1>Meny</h1>
				<p>
					A three dimensional and space efficient menu.
				</p>
				<p>
					Move your mouse towards the arrow &mdash; or swipe in from the arrow if you're on a touch device &mdash; to open.
					Test it with any page by appending a URL, like so: <a href="http://lab.hakim.se/meny/?u=http://hakim.se">lab.hakim.se/meny/?u=http://hakim.se.</a> 
				</p>
				<p>
					Meny can be positioned on any side of the screen: <br>
					 <a href="http://lab.hakim.se/meny/?p=top">top</a> 
					 - <a href="http://lab.hakim.se/meny/?p=right">right</a> 
					 - <a href="http://lab.hakim.se/meny/?p=bottom">bottom</a>
					 - <a href="http://lab.hakim.se/meny/?p=left">left</a> 
				</p>
				<p>
					Instructions and download at <a href="http://github.com/hakimel/meny">github.com/hakimel/meny</a>.
				</p>
				<p>
					The name, <em>Meny</em>, is swedish.
				</p>
				<small>
					Created by <a href="http://twitter.com/hakimel">@hakimel</a> / <a href="http://hakim.se/">http://hakim.se</a>
				</small>

			</article>

