<img src="assets/images/backbone.png">
<div style="text-align:center">
	<h1>BackboneJS</h1>
	<hr>
	<p class="small">Este blog contiene notas sobre Backbone, los primeros art&iacute;culos son introductorios y luego ir&eacute; azvanzando hacia tips y trucos. Me comprometo a crear un buen art&iacute;culo semanal.
	</p>
	<br />
	<p class="small">
	Tambien estaremos viendo mucho Javascript fuera del marco del framework.
	</p>
	<br />
	<p class="small">
	Todo el c&oacute;digo de este blog est&aacute; en Github.
	</p>
	<br />
	<a href="https://github.com/gasparbelandria/backboneros"><img src="assets/images/github.png" width="80" height="80"></a>
</div>

