<a href="http://backboneros.com"><img src="assets/images/backbone.png"></a>
<div style="text-align:center">

	<br />
	<a href="https://twitter.com/backboneros" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @backboneros</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<br /><br />
	<p class="small">Este blog contiene art&iacute;culos sobre Backbone.js, los primeros son introductorios y luego ir&eacute; avanzando hacia tips y trucos.
	</p>
	<br />
	<p>
	Hecho con &#9829; y Javascript.
	</p>
	<br />
	<p class="small">
	Todo el c&oacute;digo de este blog est&aacute; en Github.
	</p>
	<br />
	<a href="https://github.com/gasparbelandria/backboneros"><img src="assets/images/github.png" width="80" height="80"></a>
</div>

