	<section id="signin-container" style="margin-top:50px;">
		<a href="#" title="AdminFlare" class="header">
			<img src="js/assets/images/backboneros.png" alt="Backbone en español">
		</a>
		<div class="social">
			<a href="http://twitter.com/backboneros" title="" tabindex="5" class="twitter">
				<i class="icon-twitter"></i>
			</a>

			<a href="https://www.facebook.com/backbone.js.1" title="" tabindex="6" class="facebook">
				<i class="icon-facebook"></i>
			</a>

			<a href="https://plus.google.com/111929339449559871778/about" title="" tabindex="7" class="google">
				<i class="icon-google-plus"></i>
			</a>
		</div>		
	</section>
	<div style="margin: 0 auto; width:500px; max-width: 500px; padding: 15px; text-align: center;">
		<h1>Backbone.js en Espa&ntilde;ol</h1>
		<h4>Art&iacute;culos, Tutoriales, Tips, Enlaces, Videos, Foros, Directorio de Programadores, , ... y mucho Javascript</h4>
		<h3>Muy pronto</h3>
	</div>
